<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @todo_list.content %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @todo_list.checked %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @todo_list.deadline %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
